## Data Scrapping using Beautiful Soup Library

#### Insiderbiz , this website gives a information of companies in structured manner , my objective is to extract multiple pages data using python libraries like requests and beautifulsoup

In [1]:
link = 'https://www.insiderbiz.in/company-list?page=1https://www.insiderbiz.in/company-list?page='

In [2]:
links = [link + str(x) for x in range(1,6)]

In [3]:
links

['https://www.insiderbiz.in/company-list?page=1https://www.insiderbiz.in/company-list?page=1',
 'https://www.insiderbiz.in/company-list?page=1https://www.insiderbiz.in/company-list?page=2',
 'https://www.insiderbiz.in/company-list?page=1https://www.insiderbiz.in/company-list?page=3',
 'https://www.insiderbiz.in/company-list?page=1https://www.insiderbiz.in/company-list?page=4',
 'https://www.insiderbiz.in/company-list?page=1https://www.insiderbiz.in/company-list?page=5']

In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
all_data = []

In [6]:
for i in links:
    try:
        response = requests.get(i)
        response.raise_for_status() # check if the request was successful
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table') # finding tabular data (aadjust based on the website structure)
        df = pd.read_html(str(table))[0]  # 0 for the first table in case there are multiple tables
        all_data.append(df)
    except Exception as e:
        print(f'error occured while scrapping {i}: {e}')

In [9]:
combined_data = pd.concat(all_data, ignore_index = True)

In [10]:
df = pd.DataFrame(combined_data)

In [11]:
df

,CIN,COMPANY NAME,ROC,Address
0,U74999RJ1857PLC000649,JHUNJHUNU COMMERCIAL COMPANY LIMITED,ROC-JAIPUR,RJ IN
1,U15499WB1863PTC000111,CHEVIOT AGRO INDUSTRIES PRIVATE LIMITED,ROC-KOLKATA,"CELICA HOUSE, 9TH FLOOR, CELICA PARK 24 PARK S..."
2,L50403WB1863PLC000114,C L S LTD,ROC-KOLKATA,"20, SALKIA SCHOOL ROAD SALKIA HOWRAH WB 711106 IN"
3,L99999MH1863PLC000002,BOMBAY BURMAH TRADING CORPORATION LIMITED,ROC-MUMBAI,"9, WALLACE STREET,FORT MUMBAI, PIN - 400 001. ..."
4,U01132WB1871PLC000233,SINGELL TEA AND AGRICULTURAL INDUSTRIESLTD,ROC-KOLKATA,D4-39/A/NEW HINDUSTAN GAS COMPANY ROAD -1 PO: ...
...,...,...,...,...
250,U65929TN1886PLC000672,EGMORE BENEFIT SOCIETY LIMITED,ROC-CHENNAI,"NEW NO.25, OLD NO.13 FLOWERS ROAD MADRAS TN 60..."
251,U99999MH1886PLC010245,THE BERAR TRADING COMPANY LIMITED,ROC-MUMBAI,"DEEPLAXMI APARTMENT, SHOP NO. 10 BIRLA GATE NO..."
252,U99999UP1887NPL000012,BHARATVARSHIYA NATIONAL ASSOCIATION,ROC-KANPUR,G.T. ROAD ALIGARH ALIGARH UP 202001 IN
253,U70101MH1888PTC000079,JOHN ROBERTS AND COMPANY PRIVATE LIMITED,ROC-MUMBAI,SEWRI FORT ROAD SEWRI MUMBAI Mumbai City MH 40...
254,1 2 3 4 5 >,1 2 3 4 5 >,1 2 3 4 5 >,1 2 3 4 5 >

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CIN           255 non-null    object
 1   COMPANY NAME  255 non-null    object
 2   ROC           255 non-null    object
 3   Address       255 non-null    object
dtypes: object(4)
memory usage: 8.1+ KB

In [15]:
df.isnull().sum()

CIN             0
COMPANY NAME    0
ROC             0
Address         0
dtype: int64

### Hence Data is Extracted